*{
    margin: 0;
    padding: 0;
}
/* top nav start */

button:focus {
    outline:none;
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    box-shadow: none;
} 
.clear{
    overflow: hidden;
}
.topheader{
    height: 65px;
    width: 100%;
    background-color: white;
} 
.topheader img{
    width: 60px;
    float: left;
    border-radius: 50px;
    margin-top: 5px;
    
}
.topheader form{
    float: left;
    margin-top:16px;
    margin-left: 5% ;
    width: 50%;
    margin-right: 2%;
    position: relative;
    
    
}
.topsearch{
    width: 68%;
    margin-right: -15px;
    padding: 5px 10px;
    background-color: rgba(220, 220, 220, 0.705);
    border: 1px solid rgba(220, 220, 220, 0.479)  ;
    outline: none;
    padding-left: 40px;
}
.topheader form i {
    position: absolute;
    padding-top: 8px;
    height: 35px;
    
    width: 40px;
    font-size: 18px;
    background-color: rgb(197, 197, 197);
    color: rgb(255, 253, 253);
    margin-top: -24px;
}
.topsearchbutton{
    width: 20%;
    width: 75px;
    padding: 5px 0;
    border: 1px solid  rgb(71, 140, 196);
    background: rgb(71, 146, 196);
    color: white;
    text-align: center;
    cursor: pointer;
    
}
.signup{
    display: inline;
    margin-left: -5%;
}
.signup a, .chart a{
    text-decoration: none;
}
.signup i, .chart i{
    font-size: 15px;
    color: white;
    padding-bottom: 5px;
}
.signup span, .chart span{
    color: white;
    font-size: 14px;
    padding-left: 5px;

}
.signup button{
    height: 37px;
    margin-top: 15px;
    margin-right: 2%;
    border-radius: 50px;
    width: 85px;
    background-color: red;
}
.chart{
    display: inline;
}
.chart button{
    height: 36px;
    margin-top: 15px;
    border-radius: 50px;
    width: 82px;
    background-color: rgb(100, 34, 255);
}
.chart button:hover{
    opacity: .9;
}
.signup button:hover{
    opacity: .7;
}
@media only screen and (max-width: 768px) {
    .topsearchbutton{
        width: 55px;
    }
    .topsearch{
        width: 75%;
        padding-left: 10px;
    }
    .topheader form i{
        display: none;
    }
    .signup span, .chart span{
        display: none;
    }
    .signup{
        margin-left: 2%;
    }
    .signup button{
        width: 40px;
    }
    .signup i {
        font-size: 18px;
        padding-top: 0;
    }
    .chart button{
        width: 45px;
        height: 37px;
        padding: 5px;
    }
    .chart i{
        margin-top: -5px;
    }
}

@media only screen and (max-width: 475px){
    .topsearchbutton {
        display: none;
        
    }
    .topheader form{
        width: 50%;
    }
    .topsearch{
        width: 80%;
        margin-right: 0;
        padding-left: 10px;
        float: right;
        height: 35px;
    }
    .topheader form button{
        position: relative;
        float: right;
        margin-right: 15%;
        margin-top: 22px;
        cursor: pointer;
        
    }
    .topheader form i {
        background-color: rgb(71, 146, 196);
        display: block;
        margin-left: -3px;
        
        
    }
    .topheader img{
        width: 40px;
        margin-top: 15px;
    }
    .signup{
        margin-left: 3%;
    }
}
/* top nav end */

/* mid nav start */
.midnav{
    background-color: rgb(100, 20, 248);
    color: white;
    min-height: 28px;
    padding: 0;
    font-size:14px ;
}
.mobileview{
    display: none;
}

@media only screen and (max-width: 768px){
    .pcview{
        display: none;
    }
    .mobileview{
        display: block;
    }
    .sidepanel{
        height: 93%; 
        width: 0; 
        position: fixed; 
        top: 65px;
        left: 0;
        background-color: rgb(255, 255, 255); 
        overflow-x: hidden;
        transition: 0.3s; 
        max-width: 350px;
        box-shadow:  1px 1px 10px 1px black;
        
        
    }
    .sidepanel p{
        font-size: 20px;
        text-align: center;
        padding-top: 5px;
        color: rgb(46, 46, 46);
        font-weight: bold;
        background-color: rgb(45, 175, 214);
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    .sidepanel a{
        text-decoration: none;
    }
    
    .closebtn{
        float: right;
        font-size: 35px;
        text-decoration: none;
        color: black;
        margin-top: -58px;
        margin-right: 17px;
    }
    .closebtn:hover{
        text-decoration: none;
        color: rgb(255, 0, 0);
    }
    .openbtn {
        font-size: 19px;
        cursor: pointer;
        background-color: rgb(17, 17, 17);
        color: white;
        border: none;
        padding: 0px 10px;
        
    }
    .openbtn:hover{
        color: yellow;
        background-color: rgba(82, 81, 81, 0.781);
    }
    .sidepanel ul li{
        color: #000;
        font-size: 16px;
        padding-left: 15px;
        min-height: 45px;
        padding-top: 10px;
        border-top: 1px solid rgb(179, 179, 179);
        transition: .3s;
        width: 100%;
    }
    .sidepanel ul li:last-child{
        border-bottom: 1px solid rgb(179, 179, 179);
        
    }
    .sidepanel ul li a{
        color: #000;
        
    }
    .sidepanel ul li i{
        float: right;
        border-left:1px solid rgb(179, 179, 179) ;
        margin-top: -10px;
        height: 45px;
        width: 50px;
        font-size: 25px;
        padding-left: 15px;
        padding-top: 10px;
        border-right: 1px solid rgb(179, 179, 179) ;
    }
    .sidepanel ul li:hover{
        background-color: rgb(0, 171, 214);
        color: white;
        
    }
    .sidepanel ul li:hover a{
        color: white;
    }
}
.dropdown-container {
    display:none ;
    background-color: #ffffff;
    margin-left: -15px;
    width: 60%;
    border-top: 1px solid rgb(179, 179, 179);
    margin-top: 10px;
    width: 110%;
    padding-left: 15px;
    padding-top: 10px;
    transition: .5s;
    padding-bottom: 18px;
}
.dropdown-container a{
    width: 60%;
    display: block;
    margin-top: 8px;
    color: #000 !important;
    transition: .5s;
}
.dropdown-container a:hover {
    color: rgb(100, 20, 248) !important;
    background-color: rgb(241, 241, 241); 
    padding-left: 15px;
}
.pcview ul li{
    display: inline-block;
    width: 12%;
    min-width: 110px;
    list-style-type: none;
    padding-top: 2px;
    font-size: 15px;
    position: relative;
    color: white;
    transition: .2s;
    padding-bottom: 4px;
    text-align: center;
    
}
.pcview ul li:hover{
    background-color: white;
    
}
.pcview ul li:hover a{
    color: rgb(100, 20, 248);
}
.pcview ul li a{
    text-decoration: none;
    color: white;
    
} 

.pcview ul li ul {
    position: absolute;
    margin-top: 4.5px;
    left: -99999px;
    transition: .1s;
    background-color: rgb(255, 255, 255);
    width: 150px;
    min-width: 180%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 1px 2px 5px rgb(124, 124, 124);
    z-index: 999999999;
}
.pcview ul li:hover ul{
    left: 0;
}
.pcview ul li ul li{
    display: block;
    text-align: left;
    margin-left: 15px;
    padding-left: 5px;
    width: 75%;
    
}
.pcview ul li ul li a{
    color:black !important;
    transition: .6s;
    font-size: 16px;
}
.pcview ul li ul li:hover{
    background-color: rgb(231, 231, 231);
}
.pcview ul li ul li:hover a{
    color: rgb(100, 20, 248) !important;
    padding-left: 10px;
}
.active{
    transform: rotate(180deg);
    transition: .1s;
}
/* mid nav end */

.header{
    text-align: center;
    background:#015b7e;
    margin-top: 20px;
    padding-top:10px;
    color: white;
    padding-bottom: 3px;
}

.row{
    margin-left: 0;
    margin-right: 0;
    
}
.footer{
    background: #015b7e;
    border: #015b7e solid 7px;
}
.botfooter{
    background: rgb(235, 235, 235);
    text-align: center;
    margin-top: 50px;
    padding-top: 25px;
    height: 20rem;
    

}
.bot{
    background: black;
    color: rgb(117, 116, 116);
    padding-bottom: 5px;
    text-align: center;
    padding: 5px;
    
}
textarea{
    max-width:85%;
    width: 80% ;
}
.hotdeals{
    margin-top: 70px;
}
.card{
    min-width: 20%;
    width: 100%;
    text-align: center;
}
.price{
    display: inline;
    color: red;
}
.taka{
    display: inline;
}
.buynow{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(5, 167, 216);
    margin-top: 10px;
    padding-top:4px ;
    padding-bottom: 6px;
    border-radius: 5px;
    width: 100px;
}
.buynow:hover{
    background-color: rgb(68, 110, 247);
    color: rgb(255, 255, 255);
} 
/* Preview Page */
.Quantity{
    position: absolute;
    font-size: 15px;
    z-index: 99;
    margin-top: 11.5px;
    margin-left: 10px;
}
.buysubmit{
    background-color: rgb(100, 20, 248);
    color: white;
    width: 100px;
    height: 47px;
    border-radius: 5px;
    outline: none;
    
}
.buyfield{
    height: 45px;
    padding-left: 80px;
    position: relative;
    width: 150px;
    border: 2px solid;
    outline: none;
}
.description{
    margin-top: 50px;
}
.description h3{
    text-align: center;
    background-color: rgb(100, 20, 248) ;
    color: white;
    padding-bottom: 12px;
    padding-top: 8px;
}
.description p {
    font-size: 20px;
}
/* chart Page */
.YourCart h2{
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 150px;
    
    padding-bottom: 5px;
}
.chartcontent{
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}

.charttable th{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;

}
.charttable td{
    text-align: center;
    padding: 10px;
}
table.charttable tr:nth-child(2n+1){background:#fff;height:30px;}
table.charttable tr:nth-child(2n){background:#f2eaff;height:30px;}
table.charttable input[type="number"] {
    border: 1px solid #ddd;
    padding-left: 2%;
    padding-bottom: 1px;
    width: 30%;
    
}
table.charttable input[type="submit"] {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 1px 5px;
}
.totalvalue{
    float: right;
    width: 40%;
    
    
}
.mobilechart{
    display: none;
}
table.charttable a {
    color: #fe5800;
    font-weight: bold;
    text-decoration: none;
}
.shopping{
    margin-left: 10% ;
}
table.charttable a:hover{color: #000;}
@media only screen and (max-width: 768px){
    table.charttable input[type="number"] {
        margin-bottom: 5px;
        width: 55%;
        padding-left: 5px;
    }
    .pcchart{
        display: none;
    }
    .totalvalue{
        width: 90%;
    }
    .none{
        display: none;
    }
}